body {
    background-color: #77bbff;
    color: #222222;
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

button {
    background-color: #ffbb66;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    width: 200px;

    &:hover {
        background-color: #ffaa33;
    }
}

input[type="radio"] {
    accent-color: #ffaa33;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

pre {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
    width: 780px;
}

textarea {
  resize: none;
    width: 380px;
    height: 80px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
}

img {
    display: block;
    margin: auto;
}

header {
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    width: auto;
}

h1 {
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
    background-color: #ffeecc;
    border-radius: 10px;
    padding: 10px;
    font-size: 2.5rem;
    display:inline;
    color: #ffaa33;
    font-style: italic;
}

h2 {
    margin: 0;
}

#content {
        background-color: #bbddff;
  width: 80%;
    max-width: 800px;
  max-height: 65vh;
    overflow: scroll;
  margin: 40px auto;
    border-radius: 10px;
    padding: 20px;
}

#explanation-prompt {
    font-style: italic;
    font-weight: bold;
}

#question {
    display: flex;
    flex-direction: column;
}

#subject-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#submit-answer {
    margin-top: 20px;
}

.loader {
  position: relative;
  width: 120px;
  height: 90px;
  margin: 80px auto;
}
.loader:before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #ffaa33;
  animation: loading-bounce 0.5s ease-in-out infinite alternate;
}
.loader:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 7px;
  width: 45px;
  border-radius: 4px;
  box-shadow: 0 5px 0 #fff, -35px 50px 0 #fff, -70px 95px 0 #fff;
  animation: loading-step 1s ease-in-out infinite;
}

@keyframes loading-bounce {
  0% { transform: scale(1, 0.7)}
  40% { transform: scale(0.8, 1.2)}
  60% { transform: scale(1, 1)}
  100% { bottom: 140px }
}
@keyframes loading-step {
  0% {
    box-shadow: 0 10px 0 rgba(0,0,0,0),
                0 10px 0 #fff,
              -35px 50px 0 #fff,
              -70px 90px 0 #fff;
  }
  100% {
    box-shadow: 0 10px 0 #fff,
              -35px 50px 0 #fff,
              -70px 90px 0 #fff,
              -70px 90px 0 rgba(0,0,0,0);
  }
}

.loader-two {
  width: 48px;
  height: 40px;
  margin-top: 50px;
  display: inline-block;
  position: relative;
  background: #ffaa33;
  border-radius: 15% 15% 35% 35%;
}
.loader-two::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 45px;
  top: 8px;
  border: 4px solid #FFF;
  width: 16px;
  height: 20px;
  border-radius: 0 4px 4px 0;
}
.loader-two::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 10px;
  color: #FFF;
  top: -15px;
  left: 11px;
  box-sizing: border-box;
  animation: animloader 1s ease infinite;
}

@keyframes animloader {
    0% {
  box-shadow: 2px 0px rgba(255, 255, 255, 0), 12px 0px rgba(255, 255, 255, 0.3), 20px 0px rgba(255, 255, 255, 0);
}
    50% {
  box-shadow: 2px -5px rgba(255, 255, 255, 0.5), 12px -3px rgba(255, 255, 255, 0.5), 20px -2px rgba(255, 255, 255, 0.6);
}
    100% {
  box-shadow: 2px -8px rgba(255, 255, 255, 0), 12px -5px rgba(255, 255, 255, 0), 20px -5px rgba(255, 255, 255, 0);
}
  }

